<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" 
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
        
    <context:annotation-config />
    
 	<tx:annotation-driven transaction-manager="transactionManager"/>
    
    
    <!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ -->
    <!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- CONFIGURACION CONEXION B.D.  -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- -->
    <!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/demoacceleo"></property>
		<property name="username" value="root"></property>
		<property name="password" value="12345678"></property>
	</bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="com.softtek.acceleo.demo.domain" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
			</props>
		</property>
	</bean>   
	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- <bean id="persistenceExceptionTranslationPostProcessor" class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" /> -->
		
    <!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ -->
 
	<!-- <bean id="testJwtAuthenticationProvider" class="com.softtek.spring.seguridad.impl.JwtAuthenticationProviderImpl" /> -->
    <!-- <bean id="testJwtUtil" class="com.softtek.spring.seguridad.impl.JwtUtilImpl" /> -->
    <!-- <bean id="testUserServiceImpl" class="com.softtek.acceleo.demo.service.impl.UserServiceImpl" /> -->
    <!-- <bean id="testUserRepositoryImpl" class="com.softtek.acceleo.demo.repository.impl.UserRepositoryImpl" /> -->
    <!-- <bean id="testModuloAccionServiceImpl" class="com.softtek.acceleo.demo.service.impl.ModuloAccionServiceImpl" /> -->
    <!-- <bean id="testModuloAccionRepositoryImpl" class="com.softtek.acceleo.demo.repository.impl.ModuloAccionRepositoryImpl" /> -->
    <!-- <bean id="testModuloAccionAuthorityRepositoryImpl" class="com.softtek.acceleo.demo.repository.impl.ModuloAccionAuthorityRepositoryImpl" /> -->
    <!-- <bean id="testModuloAccionAuthorityServiceImpl" class="com.softtek.acceleo.demo.service.impl.ModuloAccionAuthorityServiceImpl" /> -->
	<bean id="testUserRepositoryImpl" class="com.softtek.acceleo.demo.security.repository.UserRepositoryImpl" />
	<bean id="testAuthorityRepositoryImpl" class="com.softtek.acceleo.demo.security.repository.AuthorityRepositoryImpl" />
	<bean id="testUserAuthorityRepositoryImpl" class="com.softtek.acceleo.demo.security.repository.UserAuthorityRepositoryImpl" />
	<bean id="testAuthorityPrivilegeRepositoryImpl" class="com.softtek.acceleo.demo.security.repository.AuthorityPrivilegeRepositoryImpl" />
	<bean id="testPrivilegeRepositoryImpl" class="com.softtek.acceleo.demo.security.repository.PrivilegeRepositoryImpl" />
	<bean id="testAdminPermisosRepositoryImpl" class="com.softtek.acceleo.demo.security.repository.AdminPermisosRepositoryImpl" />
	
	<bean id="testAdminPermisoServiceImpl" class="com.softtek.acceleo.demo.service.impl.AdminPermisoServiceImpl" />
	
<!--     <bean id="bcryptEncoder" class="org.springframewok.security.crypto.bcrypt.BCryptPasswordEncoder"/>
 -->      
<!-- 
    <context:component-scan base-package="com.softtek.spring">
    	<context:include-filter type="aspectj" expression="com.softtek.spring.seguridad.*" />
	</context:component-scan> 
 -->
 
 </beans>