<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans.xsd 
	                    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
	                    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
		
	<context:annotation-config />
	<context:component-scan base-package="com.softtek.acceleo.demo.catalogo.controller" />
	<context:component-scan base-package="com.softtek.spring.seguridad.controller" />
		
	<mvc:interceptors>
      <bean class="com.softtek.spring.interceptor.impl.InterceptorImpl" />
	</mvc:interceptors> 
	
  <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".html, .xhtml, .ts, .jsp" />
  </bean>
  
  <!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- -->
  <!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ Para el manejo de los interceptores -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ -->
  <!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- -->
  
  <bean id="seguridadInterceptor" class="com.softtek.spring.seguridad.controller.SeguridadInterceptor"></bean>
  <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
    <property name="interceptors">
        <list>
            <ref bean="seguridadInterceptor"></ref>
        </list>
    </property>
  </bean>
  
  
<!--
   <bean id=“handlerMapping” class=“org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping” p:interceptors-ref=“seguridadInterceptor” />
    
  <bean id=“seguridadInterceptor” class=“com.softtek.spring.seguridad.controller.SeguridadInterceptor”/>
  
  <bean id=“seguridadService” class=“com.softtek.spring.seguridad.impl.JwtAuthenticationProviderImpl”/>

  <bean name=“/api/authenticate” class=“com.softtek.spring.seguridad.controller.SeguridadController”
		p:userService-ref=“seguridadService” p:formView=“userForm” p:successView=“userSuccess”/>
 -->			
  <!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- -->
  
</beans>